aiohttp>=3.11.8
alembic

comfyui-frontend-package==1.37.11
comfyui-workflow-templates==0.8.15
comfyui-embedded-docs==0.4.0
torch
numpy>=1.25.0
einops
safetensors>=0.4.2
yarl>=1.18.0
pyyaml
Pillow
scipy
tqdm
psutil
SQLAlchemy
av>=14.2.0
comfy-kitchen>=0.2.7

pydantic~=2.0
pydantic-settings~=2.0
